@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fredoka:wght@300..700&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30343F;
    font-family: "Fredoka", sans-serif;
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 100%;
}

#game h1 {
    font-size: 3rem;
    color: #E4D9FF;
    margin-bottom: 20px;
}

.result {
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #cc0ee9;
    width: 100%;
    margin-bottom: 20px;
}

.play {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 450px; /* Limit the max size on large screens */
    width: 90vw; /* Take up a large percentage of the viewport width */
    aspect-ratio: 1 / 1; /* Keep the grid a perfect square */
    margin-bottom: 20px;
}

.box {
    font-family: "Bowlby One", sans-serif;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #E4D9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    font-size: 1.3rem;
    padding: 10px 20px;
    background-color: #e9120e;
    color: #E5E7E6;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 #920502aa;
    transition: all 0.1s ease;
}

.reset-btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

.player1 img, .player2 img {
    height: 50vh;
    width: auto;
    display: none; /* Hide images by default */
}

/* Media Queries for tablets and larger screens */
@media (min-width: 768px) {
    #container {
        justify-content: space-between;
    }

    #game {
        flex: 1;
        max-width: 600px;
        height: auto;
        padding: 0;
    }

    .player1 img, .player2 img {
        display: block; /* Show images on larger screens */
        max-width: 250px;
        height: auto;
    }
}

/* Media Query for larger desktop screens */
@media (min-width: 1024px) {
    .player1 img, .player2 img {
        max-width: 350px;
    }

    .play {
        max-width: 500px;
    }
}

